<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">

         <h2>Address Form</h2> 
         <form id="addressForm">
            <div class="form-group"> <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            </div>

            <div class="form-group"> <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>

            <div class="form-group"> <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group"> <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
            </div>
        </form>

        <div class="button-container">
                <button type="button" id="addButton">Add</button>
                <button type="button" id="editButton">Edit</button>
                <button type="button" id="deleteButton">Delete</button>
                <button type="button" id="viewButton">View</button>
                <button type="button" id="searchButton">Search</button>
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
